$light: #ffffff;
$dark: #000;

$lightest-gray: #d1d1d1;
$lighter-gray: #e8e7e0;
$light-gray: #F9F9F4;
$gray: #F2F2F2;
$dark-gray: #869791;
$darker-gray: #4c4c4c;

$light-purple: #6a81de;

$lighter-blue: #15cdfc;
$light-blue: #0084C9;
$blue: #0066CC;
$dark-blue: #009ac0;
$darker-blue: #006897;

$light-green: #5cb869;
$dark-green: #010606;

$cyan: #7fe2eb;
$red: #cd0015;
$pink: #cd007b;

$primary: $light-blue;

$overlay: rgba(0, 0, 0, 0.8);
