@import 'styles/global/colors';

.disclaimer{
    color: $light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    font-size: 8pt;
    font-weight: 700;
}